* {
  margin: 0;
  padding: 0; }

body {
  background-color: white;
  display: grid;
  grid-template-rows: 0.5fr; }

header {
  background-image: url(../Photos/backimg.jpg);
  background-size: cover;
  font-family: "Kurale", serif;
  color: black;
  text-align: center; }
  header img {
    width: 35vw;
    margin: 3%;
    margin-bottom: 0;
    position: relative; }
  header header h1 {
    font-size: 11px;
    margin: 0;
    padding-bottom: 12px; }

#menu ul {
  list-style-type: none;
  width: 10%;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 1%;
  font-size: 20px; }
  #menu ul a {
    color: white;
    text-decoration: none;
    padding: 15px; }

#side-menu {
  font-family: "Kurale", serif;
  font-size: 14px;
  display: none; }
  #side-menu ul {
    background-color: #ac5f3e; }

#dropdownMenuButton2 {
  background-image: url(../Photos/backimg-foot.jpg); }
  #dropdownMenuButton2 img {
    width: 70%; }

#lema {
  grid-column: 1/3;
  font-family: 'Kurale', serif;
  text-align: right;
  font-size: 21px;
  padding-right: 2%;
  margin: 1%; }

main {
  display: grid;
  grid-template-rows: 0.5fr; }
  main h1 {
    font-family: "Kurale", serif;
    font-size: 45px;
    text-align: center;
    padding: 1%; }
  main h3 {
    display: block;
    background-color: #217066;
    font-family: "Athiti", sans-serif;
    font-size: 30px;
    color: white;
    text-align: left;
    margin: 2% 1%;
    width: 93vw;
    padding-left: 2%; }
  main p {
    width: 90vw;
    font-family: "Athiti", sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 0 2%; }
  main a {
    color: #2f8b7f;
    text-decoration: none; }

#lookbook {
  background-color: #ebddd6;
  width: 89vw;
  margin: 0 5%;
  margin-top: 2%; }

.col-md-12 img {
  position: static;
  width: 14vw; }

#fotos-abajo img {
  position: static;
  width: 14vw;
  top: -95%;
  z-index: -1; }

@keyframes aparecer {
  0% {
    opacity: 0%; }
  50% {
    opacity: 100%; }
  100% {
    opacity: 0%; } }

.uno {
  animation-name: aparecer;
  animation-duration: 8s;
  animation-iteration-count: infinite; }

.dos {
  animation-name: aparecer;
  animation-duration: 5s;
  animation-iteration-count: infinite; }

.tres {
  animation-name: aparecer;
  animation-duration: 6s;
  animation-iteration-count: infinite; }

#menu2 {
  grid-column: 1/3;
  margin: 7%;
  margin-top: 8%; }

.contenedor1 {
  box-sizing: content-box;
  display: inline-block;
  width: 17vw;
  background-image: url(../Photos/contenedor1.jpg);
  background-size: 16.3vw;
  background-repeat: no-repeat;
  background-position: 51% 49%;
  padding: 3% 2%; }

.contenedor2 {
  box-sizing: content-box;
  display: inline-block;
  width: 17vw;
  background-image: url(../Photos/contenedor2.jpg);
  background-size: 16.3vw;
  background-repeat: no-repeat;
  background-position: 51% 49%;
  padding: 3% 2%; }

.contenedor3 {
  box-sizing: content-box;
  display: inline-block;
  width: 17vw;
  background-image: url(../Photos/contenedor3.jpg);
  background-size: 16.3vw;
  background-repeat: no-repeat;
  background-position: 51% 49%;
  padding: 3% 2%; }

.contenedor4 {
  box-sizing: content-box;
  display: inline-block;
  width: 17vw;
  background-image: url(../Photos/contenedor4.jpg);
  background-size: 16.3vw;
  background-repeat: no-repeat;
  background-position: 51% 49%;
  padding: 3% 2%; }

.foto1 {
  width: 17vw;
  padding: 3% 2%; }

.foto2 {
  width: 17vw;
  padding: 3% 2%; }

.foto3 {
  width: 17vw;
  padding: 3% 2%; }

.foto4 {
  width: 17vw;
  padding: 3% 2%; }

.foto1:hover {
  opacity: 0; }

.foto2:hover {
  opacity: 0; }

.foto3:hover {
  opacity: 0; }

.foto4:hover {
  opacity: 0; }

#ofrecemos {
  grid-column: 1/3;
  margin: 0; }
  #ofrecemos ul li {
    list-style-type: none;
    font-family: 'Kurale', serif;
    font-size: 25px;
    display: inline;
    padding-bottom: 7%;
    margin-left: 11%; }

.atencion {
  background-image: url(../Photos/atencion.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 38%; }

.aguja {
  background-image: url(../Photos/aguja.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 38%; }

.quince {
  background-image: url(../Photos/quince.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 38%; }

#fotoproducto {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%; }
  #fotoproducto article {
    width: 20vw;
    padding: 3%; }
  #fotoproducto h4 {
    font-family: "Athiti", sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    margin: 0; }
  #fotoproducto img {
    width: 13vw; }
  #fotoproducto img:hover {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2); }

aside {
  font-family: "Athiti", sans-serif;
  font-size: 5px;
  margin-top: 15%; }
  aside ul {
    background-color: #e9d0c6;
    font-size: 15px; }
  aside h4 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    background-color: #ac5f3e; }
  aside p {
    width: 95%;
    font-size: 23px;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline; }

#novedades {
  display: inline-block;
  padding: 1% 5%;
  box-sizing: content-box;
  margin: 0; }
  #novedades img {
    width: 300px;
    display: inline-block; }
  #novedades h3 {
    padding-left: 10% 10%; }
  #novedades p {
    width: 30%;
    padding: 0 5%;
    border-color: black;
    display: inline-block; }

#como-encargar ol li {
  font-family: "Athiti", sans-serif;
  display: block;
  width: 40vw;
  font-size: 23px;
  line-height: 30px;
  padding: 25px; }

#como-encargar ol .final-p {
  width: 60%;
  font-size: 33px;
  text-decoration: underline;
  margin-left: 33%;
  padding: 1%;
  margin-bottom: 5%; }

.produciendo {
  width: 25vw;
  display: inline-block;
  padding-left: 50%;
  position: absolute;
  top: 70%;
  box-sizing: unset; }

.produciendo2 {
  display: none; }

.produciendo3 {
  display: none; }

#formulario {
  font-family: "Athiti", sans-serif;
  font-size: 19px;
  text-align: center; }
  #formulario legend {
    background-color: #217066;
    color: white; }
  #formulario fieldset {
    display: inline-block; }
  #formulario p {
    color: #217066;
    font-family: "Athiti", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 4%; }
  #formulario h4 {
    font-family: "Athiti", sans-serif;
    font-size: 25px;
    text-decoration: underline;
    display: block; }
  #formulario select {
    font-family: "Athiti", sans-serif;
    font-size: 18px;
    margin: 1%; }
  #formulario input {
    font-family: "Athiti", sans-serif;
    font-size: 18px;
    margin: 1%; }
  #formulario textarea {
    font-family: "Athiti", sans-serif;
    font-size: 15px;
    width: 50vw; }

.form-section {
  margin: 5%; }

#formas-de-envio {
  justify-self: center;
  font-family: "Athiti", sans-serif;
  font-size: 20px;
  line-height: 200%;
  padding-left: 1%;
  width: 50vw; }
  #formas-de-envio th {
    vertical-align: middle;
    background-color: #ac5f3e;
    text-align: center; }
  #formas-de-envio table td {
    background-color: #e9d0c6;
    text-align: center;
    padding: 0 1%; }

.envio2 {
  display: none; }

.listas-desordenadas ul li {
  font-family: "Athiti", sans-serif;
  font-size: 20px;
  margin: 1% 3%; }

footer {
  background-image: url(../Photos/backimg-foot.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Kurale", serif;
  color: white;
  font-size: 20px;
  line-height: 0cm;
  padding: 1%;
  margin-top: 8%; }
  footer img {
    width: 4%;
    padding-bottom: 1%; }
  footer .p2 {
    font-size: 13px;
    margin-top: 2%; }

@media only screen and (max-width: 1024px) {
  #menu li {
    font-size: 21px; }
  #lema {
    font-size: 23px; }
  #lookbook {
    width: 90vw;
    margin: 5%; }
  .col-md-12 img {
    width: 30%;
    padding: 1%;
    box-sizing: content-box; }
  .col-md-3 {
    width: 50%;
    padding-left: 9%; }
    .col-md-3 img {
      width: 160%; }
  #ofrecemos ul li {
    display: block;
    width: 70%;
    font-size: 30px;
    text-align: center;
    background-color: #d4b1a1;
    background-size: 15%;
    border-radius: 10%;
    margin: 5% 9%;
    padding: 1%;
    padding-bottom: 12%; }
  #fotoproducto article {
    display: inline;
    width: 30%;
    margin: 10% 17% 10% 1%; }
  #fotoproducto img {
    width: 40vw;
    padding: 0; }
  #fotoproducto img:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); }
  .col-md-6 {
    width: 85vw;
    margin: 1% 5%; }
  .listas-desordenadas ul li {
    font-size: 25px; }
  #novedades {
    padding: 3%; }
    #novedades p {
      width: 50%; }
  .produciendo {
    display: block;
    position: absolute;
    width: 35vw;
    padding-left: 50%;
    top: 50%; }
  .produciendo2 {
    display: block;
    position: absolute;
    width: 35vw;
    top: 125%;
    left: 50%; }
  .produciendo3 {
    display: block;
    position: absolute;
    width: 35vw;
    top: 200%;
    left: 50%; }
  #como-encargar ol .final-p {
    width: 90vw;
    font-size: 30px;
    margin-left: 2%; }
  #formas-de-envio {
    justify-self: flex-start;
    margin: 3%; }
    #formas-de-envio .table {
      width: 90vw; }
  footer img {
    width: 7%;
    margin-bottom: 2%; } }

@media only screen and (max-width: 576px) {
  body {
    grid-template-columns: 15% 85%; }
  #menu {
    display: none; }
  header {
    grid-column: 2;
    grid-row: 1; }
    header h1 {
      font-size: 18px;
      color: white;
      padding-left: 20%; }
    header img {
      width: 55vw;
      margin-top: 8%; }
  main {
    grid-column: 1/3;
    grid-template-rows: 0.1fr; }
  footer {
    font-size: 17px;
    grid-column: 1/3;
    grid-row: 6;
    display: block;
    padding-top: 3%; }
    footer img {
      width: 9%;
      margin-bottom: 2%; }
  footer .p2 {
    font-size: 13px; }
  #side-menu {
    display: grid;
    grid-column: 1;
    grid-row: 1; }
    #side-menu ul {
      list-style: none;
      padding-left: 0; }
  .col-md-3 {
    width: 50%; }
  main h1 {
    font-family: "Kurale", serif;
    font-size: 30px;
    text-align: center;
    padding: 2%; }
  main h2 {
    font-family: "Kurale", serif;
    font-size: 40px;
    text-align: center;
    padding: 2%; }
  main h3 {
    font-size: 20px;
    height: 4.5vh; }
  main p {
    width: 90vw;
    font-family: "Athiti", sans-serif;
    font-size: 19px;
    text-align: center; }
  #lema {
    font-size: 17px;
    text-align: center;
    height: 7vh;
    margin: 3%; }
  .col-md-12 img {
    width: 30%;
    padding: 1%;
    box-sizing: content-box; }
  .col-md-3 img {
    width: 200%; }
  #ofrecemos ul li {
    display: inline-block;
    font-size: 17px;
    background-color: #d4b1a1;
    background-size: 18%;
    border-radius: 10%;
    padding: 1%;
    padding-bottom: 12%;
    margin-left: 9%; }
  #fotoproducto article {
    box-sizing: content-box;
    width: 40vw;
    padding: 15%; }
  #fotoproducto h4 {
    font-size: 25px; }
  #fotoproducto img {
    width: 60vw; }
  #fotoproducto img:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }
  aside p {
    font-size: 20px; }
  #novedades p {
    width: 95%;
    font-size: 20px;
    margin: 3%; }
  #como-encargar img {
    display: none; }
  #como-encargar ol li {
    width: 90vw;
    font-size: 20px; }
  #formulario {
    padding: 1%; }
    #formulario p {
      line-height: 120%;
      font-size: 25px;
      margin-bottom: 7%; }
    #formulario h4 {
      background-color: #75c7bc;
      margin: 10%; }
    #formulario ul {
      margin: 16%; }
  #medios-de-pago {
    width: 90%; }
    #medios-de-pago ul li {
      font-size: 20px; }
  .table {
    display: none; }
  .envio2 {
    display: block; }
  .envio2 h2 {
    font-size: 25px; }
  .listas-desordenadas ul li {
    font-size: 20px; } }
